@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

ul::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.bg-image {
  background-image: url("/background.png");
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

